body{
background-color:#fc2433;
color:white;
background-image: url(iesb-logo.png);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
}

h1{
color:white;

}
h2{
color:white;

}